#menu_adm{
	position: relative;
	width: 100%;
	height:60px;
	background-color:#000000;
	
}
a{
	text-decoration:none;
}
#menu_adm #opcoes_menu{
	position: relative;
	margin-left:10px;
	font-size: 20px;
	color:#000000;
	width:100px;
	border-radius:10px;
	background-color:#696969;
	cursor:pointer;
	z-index: 20;
	

}
#menu_adm #opcoes_menu ul{
	list-style-type: none;
	border: 1px solid;
	width:202px;
	margin:0;
	padding:0;
	display:none;
	background-color:#FFFFFF;
}
#menu_adm #opcoes_menu ul li{
border: 1px solid #000000;
font-family:Arial, Helvetica, sans-serif;
font-size: 14px;
width:199px;
background-color:#CD5C5C;
color:#EEE9C9;
padding:5px 0px 5px 3px;
box-shadow: 5px 5px 5px #696969;

}
#menu_adm #opcoes_menu ul li:hover{
	font-weight:bolder;
	color:#333333;
}
#menu_adm #opcoes_menu h4{
	position: relative;
	display:none;
	background-color:#666666;
	color:#FFFFE0;
	width:200px;
	padding:5px 0px 5px 3px;
	box-shadow:5px 0px 5px #696969;
	border: 1px solid #B22222;
    margin-bottom:0px;
    margin-top:17px;
	
	
}
#menu_adm #opcoes_menu #conteiner_opcoes_menu{
	position:relative;
	margin-top:5px;
	display:block;
}





#menu_adm #opcoes_titulo{
	position:relative;
	margin-left:30%;
}

#menu_adm .opcoes{
	position:relative;
	vertical-align:top;
	display:inline-block;
	
	
	margin-top:10px;
	margin-bottom:10px;
	height:40px;
	color:#EEE8AA;
}
#tamanho{
	position:relative;
	background-color:#FFFFFF;
	display:block;
	float:right;
	height:auto;
	width:auto;
    margin-top:-10px;
	margin-right:23%;
	z-index:500;
}
 #tamanho #combotam{
	position:relative;
    
	width:50px;

	
	
}
#menu_adm .opcoes #conteiner_titulo{
	position:relative;
	
	margin-top:5px;
	font-size:30px;
	color:#53868B;
}
.opcoes2{
	position:relative;
	vertical-align:top;
	display:inline-block;
	border: 0px solid;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	height:20px;
	
}

 #opcoes_usuario_log{
	position:relative;

	width:auto;
	border: 1px solid;
	float:right;
	padding-left:10px;
	padding-right:10px;
	margin-top:7px;
	margin-bottom:5px;
	margin-right:10px;
	background-color: #FFFFFF;
	color:#CD5C5C;
	z-index:20;
	
}
#enviar_post{
	position:relative;
	width:100%;
	background-image:url("../img/fundo.png");
}
#enviar_post #menu_postagem{
	position: relative;
	padding:0px 0 0px 0;
	width:100%;
	border: 0px solid #0066CC;
	
}
#enviar_post input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

#enviar_post #titulo{
	width:63%;
	height:40px;
	
}
#enviar_post fieldset{
	position:relative;
	background-color:#FFFFFF;
	width:70%;
	margin:0 auto;
}

#enviar_post #campo_texto2{
	font-family:Arial, Helvetica, sans-serif;
	width:1px;
	height:480px;
	font-size: 16px;
	line-height: 1.2;
	overflow:auto;
	background-color:#FFFFFF;
	border:0px;
	box-shadow: 5px 5px 20px #696969;
}
#opcoes_logoff{
     background-color:#696969;
     color:#FFFF00;
     height:23px;
     width:60px;
     text-align:center;
     border-radius:10px;
     cursor:pointer;
     box-shadow:5px 5px 5px #BEBEBE;
}

#menu_adm #opcoes_menu #palavra_menu{
	color:#FFFFFF;
}
#principal #enviar_post{
	display:none;
}
