#login {
	margin:0 auto;
	width:400px;
	height:auto;
	border: 0px solid;
	
	text-align:center;
	margin-top:200px;
	

}
#login fieldset{
	border-radius:5px 5px 5px 5px;
	background-color:#FCF8E3;
}

#login form{
	padding-top:30px;
	padding-bottom:30px;
}

