#principal{
	position:relative;
	
}
#capa{
	height: 500px;
	border: solid 1px;
	background-color:#444444;
}
#conteinerMeio{
	position: relative;
	border: solid 1px;
	background-color:#BEBEBE;
	height:auto;
	margin-top:10px;
	
}

#conteinerMeio #lateral_esquerda{
	position: relative;
	border: solid 1px;
	width:65%;
	height:auto;
	margin-left: 5px;
	
	
}
#conteinerMeio #lateral_direita{
	position: relative;
	background-color:#BEBEBE;
	float:right;
	border: solid 1px;
	height:800px;
	width:30%;
	margin-top:10px;
	text-align:center;
	
	
	
	
	
}
#conteinerMeio #lateral_direita p{
	font-size: 25px;
	color:#555555;
	
	
	
	
	
}
#conteinerMeio #lateral_direita .leiatambem{
	position:relative;
	
   
	width:90%;
	margin: 15px 5px 5px 5px;
	
}

#conteinerMeio #lateral_direita .leiatambem a:link{
	text-decoration:none;
	
}
#conteinerMeio #lateral_direita .leiatambem a:hover{
	text-decoration:none;
	color:#AC2925;
	
}
#conteiner_baixo{
	position: relative;
	height: auto;
	border: solid 1px #0081C2;
	padding-top:3px;
	padding-bottom:3px;
}
#conteiner_baixo .leiatambem{
	position: relative;
	display:inline-block;
	
	border:solid 1px;
	margin: 3px 3px 3px 3px;
	height: 300px;
	width:300px;
	background-color:#0077B3;
	
	
}
#conteiner_baixo .leiatambem .leia_tambem_titulo{
	position: relative;
	border: 1px solid;
	height: 50px;
	background-color:#E4B9C0;
	
	
}

#conteiner_baixo .leiatambem .leia_tambem_texto{
	position: relative;
	border: 1px solid;
	height:245px;
	margin-top:3px;
	background-color:#843534;
}

