#link_jogar {
/* Inicia oculto */
display: none;
/* Cores e fundo */
color: yellow;
background: url(img/botao-jogar.png);
/* Fonte */
font-size: 20px;
font-family: sans-serif;
/* Sem sublinhado e com sombra */
text-decoration: none;
text-shadow: 2px 2px 5px black;
/* Posicionamento */
position: absolute;
left: 220px;
top: 330px;
/* A imagem do botão é 72x72, descontamos os paddings */
width: 52px;
height: 26px;
padding: 23px 10px;
}
