body{
	background-image:url("../imagens/fundo.jpeg");
	opacity:1.0;
}

#principal{
	margin: 0 auto;
	width:80%;
	height:auto;
}

#capa{
	margin:0 auto;
	width:80%;
	height:300px;
	border:1px solid #CECECE;
	 background-image: url("../imagens/capa.png");
	 -webkit-box-shadow: 10px 10px 66px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 66px -17px rgba(0,0,0,0.75);
box-shadow: 10px 10px 66px -17px rgba(0,0,0,0.75);
}
#capa img{
	max-width:30%;
	max-height:100%;
	float:left;
	margin-left:20px;
	margin-top:130px;
	padding:5px;
	border:1px solid #CECECE;
	background:white;
	
}

#nome{
	font-size:xx-large;
	text-align:left;
	margin-top:200px;
	
}
#conteiner_dados{
	margin:0 auto;
		width:78%;
	padding:10px 10px 10px 10px;
	margin-bottom:30px;
	-webkit-box-shadow: 10px 10px 66px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 66px -17px rgba(0,0,0,0.75);
box-shadow: 10px 10px 66px -17px rgba(0,0,0,0.75);
border-bottom-left-radius: 10px;
border-bottom-right-radius:10px;
background-color:white;

}
.partes{
	width:60%;
	margin:0 auto;
	
	
}

.partes ul{
	font-family:Lucida, sans-serif;
	margin-left:105px;
	list-style-type:disc;
	font-size: 18px;
    line-height: 30px;
    
    letter-spacing: 1px;
    word-spacing:3px;
    color:#696969;
	
}
.subtitulos{
	margin-left:110px;
	
}
span{
	font-family:"Arial Black";
	font-size:20px;
	font-weight:bold;
}
.circulo{
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}

/*-----fomulário modal-----*/

#formulario-nibble{
	margin: 0 auto;
	text-align:center;
	background-color:#FFFFFF;
	margin-top:30%;
	width:500px;
	-webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
border-radius:3px 3px 3px 3px;
}
#formulario-nibble input{
	height:30px;
	width:300px;
	
}

#formulario-nibble #botao-nibble-fechar #botao_fechar:hover{
	cursor:pointer;
	color:blue;
}



#botao-nibble-fechar{
	text-align:left;
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border:1px solid;
width:30px;
height:30px;
float:right;
margin-right:-10px;
margin-top:-25px;
background-color:#CECECE;
}
#x{
	margin-left:8px;
	margin-top:15px;
}
#botao-nibble-fechar:hover{
	color:red;
	cursor:pointer;
}

#botao_contato{
	font-size: 70px;
	color:#2F4F4F;
	cursor:pointer;
	
	
}
#botao_contato:hover{
	color:#0000FF;
}

.footer{

background-color:#FFDAB9;
height:100px;
height:200px;
margin-top:100px;


}

.footer .social span{
	font-size:30px !important;

}
.footer .social #facebook{
	
	color: #0000CD;
}
.footer .social #youtube{
	
	color: #CD0000;
}
.footer .social #twiter{
	color: #1E90FF;
}
.footer #local{
	font-size:18px !important;
	
}
.footer #ano{
	font-size:18px !important;
	
}
.footer_filho{
	text-align:center;
    padding-top:40px;
    padding-bottom:40px;
	width:30%;
	background-color:white;
	display:inline-block;
	vertical-align:top;
	margin-top:50px;
	margin-left:13px;
	-webkit-box-shadow: 0px 6px 38px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 38px -7px rgba(0,0,0,0.75);
box-shadow: 0px 6px 38px -7px rgba(0,0,0,0.75);

-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
.footer #contato_carta{
	padding-bottom:18px;
	padding-top:18px;
}
.footer #texto_local{
	padding-bottom:37px;
	padding-top:37px;
}

