.caixas{
	border:solid 1px;
}




#form{
	margin: 0 auto;
	margin-top:100px;
    text-align:center;
	background-color:#166149;
	height:220px;
	width:300px;
	box-shadow:5px 10px 10px 10px;
}
#title{
	font-family:"Arial Black" "sans-serif";
	text-align:center;
	border:solid 0px;
	font-size:100px;
	
}

