.header{
	position:relative;
	
	width:100%;
	height:80px;
	border: 0px solid;
	
	
}
.header_center{
	position:fixed;
	background-color:#000000;
	z-index:100;
	margin-top:-8px;
	
	border: 0px solid;
	width:100%;
	height:82px;
	
}
.header_filho{
	position:fixed;
	
	margin-top:0px;
   
	height:79px;
	display:inline-block;
}
.header_filho ol{
	margin-top:30px;
    
}
.header_filho a{
	padding:31px;
    color:#EEE8AA;
    font-weight:bolder;
  
}



.header_filho a:link{
	
    text-decoration:none;
}

.header_filho  ol li{
	display:inline-block;
}
.header_filho .seta_baixo{
color:#EEE8AA;
}
.header_filho #seta_baixo{
	position:relative;
	float:right;
	display:none;
	text-align:center;
	font-size:40px;
	margin-top:10px;
	margin-right:50px;
}
.header_filho #campo_busca{
	position: relative;
	box-shadow:5px 5px 5px 5px #000000;
	background-color:#000000;
	float:right;
	display:none;
	width: 450px;
	height:80px;
	border: 3px solid;
	margin-top:-10px;
}
.header_filho #campo_busca #caixa_busca_texto{
	

	width: 250px;
	height:40px;
	box-shadow:0 0 0 5px #BEBEBE;
	margin-top: 17px;
	margin-left: 10px;
	font-size:16px;

	-webkit-border-top-left-radius: 2px;
-moz-border-radius-topleft: 2px;
-o-border-top-left-radius: 2px;
border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topright: 2px;
-o-border-top-right-radius: 2px;
border-top-right-radius: 2px;
-webkit-border-bottom-left-radius: 2px;
-moz-border-radius-bottomleft: 2px;
-o-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-radius-bottomright: 2px;
-o-border-bottom-right-radius: 2px;
border-bottom-right-radius: 2px;
}
.header_filho #campo_busca #btn_busca{
	margin-left: 20px;
	width:120px;
	height:45px;
	box-shadow:0 0 0 3px #BEBEBE;
	background-color:#008B8B;
	border: 0px;
	cursor:pointer;
	-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
}
.header_filho #campo_busca #btn_busca:hover{
	box-shadow:0 0 0 3px #53868B;
}
.header #header_esquerda{
	
	background-color:#000000;
	width:288px;
	border: 1px solid;
}
.header #header_central{
	margin-left:22%;
	
	width:59%;
    
	border: 1px solid;
}
.conteiner_lista_menu ul{
	
	text-decoration:none;
	display:inline-block;
}
.header_filho .conteiner_lista_menu .opcoes a{
	text-decoration:none;
}
.header #header_direita{
	position:relative;
	margin-left:82%;
	width:230px;
	border: 1px solid;
	
	
}
.header #header_direita img{
	position:relative;
	margin-left:150px;
	margin-top:25px;
    max-width:30px;
    max-height:30px;
	cursor:pointer;
	
}
.menu{
	position:relative;
	display:none;
	width:100%;
	height: 60px;
	margin: 0 auto;
	border: 0px solid;
	z-index:80;
}

.menu #opcoesDesenvolvimento{
	
	position:relative;
	display:none;
	background-color:#FFFFFF;
	z-index:100;
	width:100%;
	height: 300px;
	margin-top:-30px;
	margin-left:0px;
	background-image: url("../img/fundo.png");
	border: 0px solid;
	border-bottom: ridge 3px #0000FF;
	
}




.menu #opcoesDesenvolvimento ul{
	margin-left: -10px;
	width: 100%;
    padding:20px;
	list-style-type:none;
	text-align:center;
	
	
}
.menu #opcoesDesenvolvimento li{
	display:inline-block;
	margin-bottom:5px;
	padding:5px;
	border: 1px solid;
	box-shadow: 5px 5px 20px #BEBEBE;
	width:400px;
	background-color:#FFFFFF;
	font-size: 40px;
	-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
}
.menu #opcoesDesenvolvimento  a{
	text-decoration:none;
	color:#CD0000;
	font-weight:bolder;
	
	-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
}





#formulario_contato #form_informacao{
	position:relative;
	float:left;
	font-family:"arial","verdana","sans-serif";
    color:#CD0000;
    font-size:20px;
	margin-top: 10px;
	margin-left: 10px;
	text-align:center;
	width:250px;
	height:250px;
}
#formulario_contato{
	position: relative;
	
	background-color:#FFFFFF;
	border-bottom: 1px solid;
	border-color:#333333;
	text-align:right;
	height: 400px;
	margin-top: -9px;
	
}
#formulario_contato #conteiner_formulario{
	position: relative;
	
	
}


#form_contato fieldset{
	
	display:inline;
	margin-top:10px;
	background-color:#FFFFE0;
	margin-right: 80px;
	width: 70%;
	height: 350px;
	font-weight: bold;
	box-shadow:5px 5px 25px #BEBEBE;
	border:0px;
	-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
	
	
}
#form_contato fieldset #conteiner_campos_form{
margin-right: 50%;



}

#formulario_contato #form_informacao img{
	max-width:50px;
	max-height:50px;
}
#form_contato fieldset .campos{
	height: 50px;
	
}

#form_contato fieldset #campo_texto{
	
	font-size:20px;
}
#form_contato fieldset #campo_nome{
	width: 500px;
	font-size:20px;
	
	
	
}
#form_contato fieldset #campo_email{
	width: 500px;
	font-size:20px;
		
	
		
}
#form_contato fieldset #btn_contato{
	position: relative;
	cursor:pointer;
	border:0px;
	font-size:20px;
	font-weight:bolder;
	margin-right: 200px;
	width: 150px;
	height: 70px;
	margin-top:20px;
	background-color:#FF3030;
	box-shadow:0 0 0 5px #666;
	-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
}
#opcoesDownload{
	position:relative;
	display:none;
	background-color:#FFFFFF;
	width:100%;
	height: 300px;
	margin:0px;
	margin-top:-9px;
	margin-left:0px;
	border: 0px solid;
	border-bottom: #FF3030 3px solid;
	z-index:100;
}
.detalhes{
	position:fixed;
	display:none;
	border: 1px solid;
	height: 500px;
	width: 99%;
    top: 50%;
    margin-top:-250px;
    
    z-index:600;
    background-color:#FFFFFF;
	
	
	
}
.detalhes .detalhes_fechar{
	position:relative;
	float:right;
	margin-top:-30px;
	z-index:700;
	
	margin-right:2px;
	
	width:36px;
	height:36px;
	border: 3px solid #000000;
	color:#FF3030;
	text-align:center;
	font-weight:bold;
	font-size:30px;
	border-radius:50%;
	
}
.detalhes .detalhes_fechar:hover{
	background-color:#CD0000;
	color:#000000;
	cursor:pointer;
}
.detalhes .detalhes_titulo{
	position:relative;
	font-family: "arial","verdana","sans-serif";
	font-size: 30px;
color: #339966;
text-shadow: -2px -2px #333;
	font-weight:bold;
	
	text-align:center;
	font-size:35px;
	height: 40px;
	width: 100%;
	border-bottom:1px dashed;
	border-color:#0000FF;
}
#conteiner_detalhes{
	position:fixed;
	margin-top:5px;
	height:300px;
	width:99%;
}
.detalhes .detalhes_imagem{
	position:relative;
	display:inline-block;
	vertical-align:top;
	height:300px;
	width:500px;
	box-shadow: 5px 5px 5px #CD0000;
	background-color:#FFFFFF;

}
.detalhes .detalhes_imagem img{
	max-width: 500px;
	max-height: 300px;
	width: auto;
	height: auto;
}
.detalhes .detalhes_texto{
	position:relative;
	display:inline-block;
	line-height:2.0;
	vertical-align:top;
	margin-left:10px;
	overflow:auto;
	font-family: "arial","verdana","sans-serif";
	color:#696969;
	height:299px;
	width: 550px;
	background-color:#FFFFFF;
	
	

}
.detalhes .secao_posts_relacionados{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-left: 10px;
	width: 200px;
	height: 300px;
	
	
}
.detalhes .secao_posts_relacionados #secao_titulo{
	position:relative;
	color:#696969;
	
	font-weight: bold;
	width:200px;
	text-align:center;
	text-shadow:5px 5px 5px;
}
.detalhes .secao_posts_relacionados #conteiner_posts_aplicativo{
	position: relative;
	overflow:auto;
	width: 200px;
	height: 300px;
	margin-top:10px;
}
.detalhes .secao_posts_relacionados #conteiner_posts_aplicativo .anuncio{
	position:relative;
	cursor:pointer;
	border:0px;
	border-top: 1px #EEE9C9 dashed;
	overflow:hidden;
	margin-left:10px;
	margin-right:5px;
	font-size:14px;
	font-family: Tahoma,"Arial Black",Verdana, sans-serif;
	
	width:150px;
	height:auto;
	padding-top:10px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:20px;
	
	
	
}
.detalhes .secao_posts_relacionados #conteiner_posts_aplicativo .anuncio:hover{
	color:#B22222;
}

.detalhes .detalhes_download{
	position:relative;
	text-align:center;
	border: 0px solid;
	margin-top:332px;
	width: 100%;
	height:40px;
	
}
.detalhes .detalhes_download #icone_download{
	position: relative;
	margin: 0 auto;
	width:100px;
	height:100px;
	border: 2px solid;
	border-radius:50%;
	font-size:70px;
	text-align: center;
	background-color:#FFFFFF;
	color:#166149;
	font-weight:bold;
	box-shadow: 5px 5px 20px  #BEBEBE;
	cursor:pointer;
	
}
.detalhes .detalhes_download img{
	border:#CD0000 1px solid;
	box-shadow: 5px 5px 5px #CD0000;
	margin-top:350px;
}
.detalhes #secao_fotos{
	position: relative;
	border: 2px solid;
	margin-top:290px;
	width:500px;
	height: 80px;
}
#opcoesDownload .arquivosDownload{
	position:relative;
	margin-top:20px;
	width:300px;
	height:auto;
	
	margin-left: 10px;
	border: 0px solid;
	display:inline-block;
	vertical-align:top;
	box-shadow: 5px 5px 30px #CD5C5C;
	
}

#opcoesDownload .arquivosDownload hr{
 color:#BEBEBE;
 background-color:#BEBEBE;
 height: 4px;
 border: 0px solid;
}
#opcoesDownload .arquivosDownload .arquivosDownload_imagem{
	position:relative;
margin-left:3px;
margin-top:3px;
width: 140px;
height: 100px;

overflow:hidden;


}

#opcoesDownload .arquivosDownload .arquivosDownload_imagem img{
	-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
	max-height: 140px;
	max-width: 140px;
	height: auto;
	width: auto;
}
#opcoesDownload .arquivosDownload .arquivosDownload_titulo{
	position: relative;
	overflow:hidden;
	font-family: "arial","verdana","sans-serif";
	font-weight:bold;
	color: #06c;
	display:flex;
	 align-items: center;
    justify-content: center;
	
	font-size:18px;
	text-align:center;
	margin-right:0px;
	margin-left:0px;
	width: 300px;
	height:40px;
	border: 0px solid;
}
#opcoesDownload .arquivosDownload .arquivosDownload_texto{
	position:relative;
	float:right;
	overflow:hidden;
	color:#696969;
	font-family: "arial","verdana","sans-serif";
	font-size: 12px;
	font-weight:bold;
	margin-right:3px;
	margin-top:3px;
width: 140px;
height: 100px;
border: 0px solid;

}
#opcoesDownload .arquivosDownload .arquivosDownload_conteiner_opcoes{
	position:relative;
	width: 290px;
	margin-left:3px;
	margin-top:3px;
height: 40px;
border: 0px solid;
	
}

#opcoesDownload .arquivosDownload .arquivosDownload_conteiner_opcoes .texto_opcoes_esquerda{
	position:relative;
	margin-top:3px;
	margin-left:5px;
	width: 90px;
height: 30px;
border: 0px solid;
	
}
#opcoesDownload .arquivosDownload .arquivosDownload_conteiner_opcoes .texto_opcoes_direita{
	position:relative;
	float:right;
	margin-top:3px;
	margin-right: 20px;
	width: 90px;
height: 30px;
border: 0px solid;
	
}