.todo{
	opacity: 1.0;
}





#todo{
	position:relative;
	background-color: #EEE9E9;
	width:100%;
	height: auto;
	margin:0 auto;
	
	
}
#filtro_post{
	position:relative;
    border-top: 1px dashed #53868B;
	
	width: 100%;
	height: 300px;
	margin-bottom:100px;
	border-bottom: 3px solid #B22222;
	background-color:#53868B;
	-o-border-bottom-left-radius:40%;
	-o-border-bottom-right-radius:40%;
	-moz-border-bottom-left-radius:40%;
	-moz-border-bottom-right-radius:40%;
	-webkit-border-bottom-left-radius:40%;
	-webkit-border-bottom-right-radius:40%;
	border-bottom-left-radius:40%;
	border-bottom-right-radius:40%;
	
	
}
#filtro_post #titulo{
	
	position:relative;
	font-size:50px;
	font-weight:bolder;
	font-family:arial,verdana,sans-serif;
	margin-top:100px;
	margin-bottom:-40px;
	
	text-align:center;
	width: 100%;
	
	
	
}
#filtro_post #resumo{
	position: relative;
	font-size: 20px;
	font-family:arial,verdana,sans-serif;
	text-align:center;
	width: 80%;
	margin:0 auto;
}
.lateral_esquerda{
	position:relative;
	margin:0 auto;
	
	width:82%;
	height:auto;
	
	
	
}
.coluna{
	position:relative;
	background-color:white;
	margin-left:5px;
	margin-top:10px;
	margin-bottom:10px;
	width:32%;
	height:auto;
	border: 0px solid;
	display:inline-block;
		-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
}
.coluna .anuncio{
	position:relative;
	cursor:pointer;
	border: 0px solid;
	width:260px;
	height:260px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
	box-shadow:5px 5px 20px #BEBEBE;
	
}
.coluna .anuncio .imagem{
	position: relative;
	background-color:#CD0000;
	width: 240px;
	height:160px;
	margin: 0 auto;
	margin-top:3px;
}
.coluna .anuncio .data{
	position: relative;
	width: 240px;
	color:#BEBEBE;
	margin: 0 auto;
	margin-top: 10px;
}
.coluna .anuncio .titulo{
	position: relative;
	width: 240px;
	color:#696969;
	margin: 0 auto;
	margin-top: 10px;
	font-size:larger;
}
.sideBar{
	position:relative;
	width:230px;
	height:800px;
	float:right;
	margin-top: 10px;
	background-color:#FFFFFF;
	margin-right:15px;
	box-shadow:5px 5px 20px #BEBEBE;
	-webkit-border-top-left-radius: 2px;
-moz-border-radius-topleft: 2px;
-o-border-top-left-radius: 2px;
border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topright: 2px;
-o-border-top-right-radius: 2px;
border-top-right-radius: 2px;
-webkit-border-bottom-left-radius: 2px;
-moz-border-radius-bottomleft: 2px;
-o-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-radius-bottomright: 2px;
-o-border-bottom-right-radius: 2px;
border-bottom-right-radius: 2px;
}
.sideBar a{
	text-decoration: none;
	color:#696969;
}
.sideBar a:hover{
	color:#CD0000;
}
.sideBar a:link{
	text-decoration:none;
}
.sideBar a:visited{
	text-decoration:none;
}
.sideBar .ultimos_posts{
	font-family: "arial","verdana","sans-serif";
	font-size: 20px;
	color:#696969;
	margin-left: 8px;
	font-weight:bolder;
}
#sideBar_titulo{
	position:relative;
	width:200px;
	text-align:center;
	color:#333333;
	text-shadow:5px 5px 5px #333333;
	
}
footer{
	position:relative;
	background-color:#333333;
	width:100%;
	height:200px;
	border: 1px solid;
	clear:right;
}
footer .rodape{
	position:relative;
	margin-left:100px;
}
footer .rodape_colunas{
	position:relative;
	display:inline-block;
	width: 30%;
	height:195px;
	margin-top:2px;
	border: 1px solid #FFFFE0;
}
