
body{
	background-color:#EEE9E9;
}

.todo{
	opacity: 1.0;
}


#todo{
	position:relative;
	width:100%;
	height:auto;
	
	
}
#texto_autor a:link{
	
	text-decoration:none;
	color:#BEBEBE;
}
#texto_autor a:visited{
	text-decoration:none;
	color:#BEBEBE;
}
#imagem_apresentacao img{
	position:relative;
	height:auto;
	max-width: 100%;
	
	width: auto;
	border:1px solid;
	margin:0 auto;
	
	
	
}

#post_conteudo{
	position:relative;
	padding-right:20px;
	width:70%;
	height:auto;
	background-color:#FFFFFF;
	box-shadow: 5px 5px 20px #BEBEBE;
	border: 2px solid #BEBEBE;

	
}

#post_titulo{
	position:relative;
	width:100%;
	height:100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:52px;
	color:#333333;
	padding-bottom:60px;
	
}
.subpost_autor{
	display:inline-block;
	width:auto;
	height:50px;
	margin-left: 20px;
	vertical-align: top;
	
}


#post_conteudo #post_autor{
	position:relative;
	width: 100%;
	height: 100px;

	margin-top:20px;
}
.subpost_autor img{
	max-width:50px;
	max-height:50px;
}
#post_autor #texto_autor{
	position: relative;
	padding-left:30px;
	color:#BEBEBE;
    
	font-size: 20px;
}
#texto_autor span{
	position: relative;
   
	top:10px;
}
#texto_autor a:hover{
	color:#CD0000;
}

#post_conteudo #post_texto{
	position:relative;
	width: 100%;
	height:auto;
	padding-bottom: 50px;

    padding-left:10px;

	padding-right:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.8;
	color:#696969;
}

#post_conteudo #post_texto #conteiner_post_texto{
	position:relative;
	margin-bottom:100px;
}
#post_conteudo #post_texto #conteiner_post_texto_material{
	position: relative;
	width:270px;
	background-color:#FFFFFF;
	height:40px;
	
	float:right;
	box-shadow: 0 0 0 3px #B22222;
	-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-o-border-top-left-radius: 5px;
border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
-o-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-o-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-o-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
	
}
#post_conteudo #post_texto .material_apoio{
	position:relative;
	display:inline-block;

	vertical-align:top;
	height:30px;
	margin-top:5px;
	
}
#post_conteudo #post_texto #material_apoio1{
	font-size: 14px;
	color:#CD0000;
	margin-left:3px;
	
}
#post_conteudo #post_texto #material_apoio2{
	margin-left:20px;
	
}
#post_leia_tambem{
	position: relative;
	margin-top: 20px;
	width: 100%;
	height:auto;
	border: 0px solid;
	background-color:#FFFFFF;
	border: 1px solid #EEE9E9;

	
}
#post_leia_tambem #leia_tambem_titulo{
	position:relative;
	font-family: arial, helvetica, sans-serif;
	text-align:center;
	font-size:48px;
	color:#CD5C5C;
	font-weight:bolder;
}
#leia_tambem_conteiner {
	
	position:relative;
	width:auto;
	height: auto;
	margin-left:20px;
	
	
	
	
}
#leia_tambem_conteiner .anuncio{
	position:relative;
	cursor:pointer;
	
	display:inline-block;
	margin-left:35px;
	margin-right:10px;
	vertical-align:top;
	
	border: 1px solid #EEE9E9;
	width:260px;
	height:260px;
	
	margin-top:60px;
	margin-bottom:100px;
	box-shadow:5px 5px 20px #BEBEBE;
	
}
#leia_tambem_conteiner .anuncio .imagem{
	position: relative;
	background-color:#CD0000;
	width: 240px;
	height:160px;
	margin: 0 auto;
	margin-top:3px;
}
#leia_tambem_conteiner .anuncio .data{
	position: relative;
	width: 240px;
	color:#BEBEBE;
	margin: 0 auto;
	margin-top: 10px;
	
}
#leia_tambem_conteiner .anuncio .titulo{
	position: relative;
	width: 240px;
	color:#696969;
	margin: 0 auto;
	margin-top: 10px;
	font-size:larger;
}

/* lateral direita posts do autor*/
#lateral_direita_relacionados{
	position: relative;
	float:right;
	height:800px;
	width:350px;
	
	
	margin-top:20px;
	
	background-color:#FFFFFF;
	
}
#lateral_direita_relacionados #conteiner_posts_autor{
	position: relative;
	float:right;
	height:800px;
	width:350px;
	overflow:auto;
	
	margin-top:20px;
	
	background-color:#FFFFFF;
	
}
#lateral_direita_relacionados #titulo{
	position:relative;
    font-size:20px;
    
	width:300px;
	text-align:center;
	color:#333333;
	border: 0px;
	
	font-weight:bolder;
	text-shadow:5px 5px 5px #BEBEBE;
}

#lateral_direita_relacionados #titulo fieldset{
border-top: 4px solid #F1B349;
border-bottom: none;
border-left: none;
border-right: none;
display: block;
text-align: center;
margin-bottom: 0px;
}

#lateral_direita_relacionados .anuncio{
	position:relative;
	cursor:pointer;
	border:0px;
	border-top: 1px #EEE9C9 dashed;
	overflow:hidden;
	margin-left:40px;
	margin-right:5px;
	
	
	
	width:250px;
	height:81px;
	padding-top:10px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:20px;
	
	
}
#lateral_direita_relacionados .anuncio .imagem{
	position: relative;
	float:left;
	background-color:#CD0000;
	width: 100px;
	height:80px;
	margin-right:3px;
	margin-top:3px;
}
#lateral_direita_relacionados .anuncio .data{
	position: relative;
	width: 220px;
	color:#BEBEBE;
	margin: 0 auto;
	margin-top: 10px;
	
}
#lateral_direita_relacionados .anuncio .titulo{
	position: relative;
	width: 220px;
	color:#696969;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom:10px;
	font-size:larger;
}


footer{
	position:relative;
	background-color:#333333;
	width:100%;
	height:200px;
	border: 1px solid;
	clear:right;
}
footer .rodape{
	position:relative;
	margin-left:100px;
}
footer .rodape_colunas{
	position:relative;
	display:inline-block;
	width: 30%;
	height:195px;
	margin-top:2px;
	border: 1px solid #FFFFE0;
}
