.todo{
	opacity: 1.0;
}
/*Menu flutuante baixo da tela para newsletter */
#formulario_news .menu_new{
	display:inline-block;
}
#formulario_news #minimizar{
	position:relative;
	vertical-align:top;
	color:#FFFFFF;
	font-size:16px;
	margin-left:40px;
	visibility: hidden;
	cursor:pointer;
}
#formulario_news #fechar{
	position:relative;
	vertical-align:top;
	color:#FFFFFF;
	font-size:16px;
	margin-left:12px;
	visibility: hidden;
	cursor:pointer;
}
#formulario_news #fechar:hover{
	color: #FF0000;
}
#formulario_news #minimizar:hover{
	color: #FF0000;
}
#formulario_news{
	position: relative;
	padding:10px ;
	z-index:250000;
	border: 1px solid;
	background-color:#000000;
	width:200px;
	height:200px;
	margin:0 auto;
	box-shadow: 5px 5px 20px #BEBEBE;
}
#formulario_news input{
	position:relative;
	
}
#formulario_news #form_email_news{
	width:190px;
}
#btn_news{
	position: relative;
	margin-left:20px;
}
#formulario_news form p{
	color:#FFFFFF;
	text-align:center;
}
#formulario_news #btn_news{
	position:relative;

	background-color:#FFFFFF;
	border: 1px solid #FFFF00;
	box-shadow: 0 0 0 5px #CD5C5C;
	cursor:pointer;
	
}
#formulario_news #titulo{
	position:relative;
	
	margin: 0 auto;
	color:#FFFFFF;
	cursor:pointer;
}
#formulario_news #conteiner_news{
	border-bottom: 2px solid #FFFF00;
}
/*end---newsletter*/





#todo{
	position:relative;
	background-color: #EEE9E9;
	width:100%;
	height: auto;
	margin:0 auto;
	
	
}

.lateral_esquerda{
	position:relative;
	
	width:82%;
	height:auto;
	
	
	
}
.coluna{
	position:relative;
	background-color:white;
	margin-left:5px;
	margin-top:10px;
	margin-bottom:10px;
	width:32%;
	height:auto;
	border: 0px solid;
	display:inline-block;
		-webkit-border-top-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-o-border-top-left-radius: 35px;
border-top-left-radius: 35px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius-topright: 35px;
-o-border-top-right-radius: 35px;
border-top-right-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-bottomleft: 35px;
-o-border-bottom-left-radius: 35px;
border-bottom-left-radius: 35px;
-webkit-border-bottom-right-radius: 35px;
-moz-border-radius-bottomright: 35px;
-o-border-bottom-right-radius: 35px;
border-bottom-right-radius: 35px;
}
.coluna .anuncio{
	position:relative;
	cursor:pointer;
	border: 0px solid;
	width:260px;
	height:260px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
	box-shadow:5px 5px 20px #BEBEBE;
	
}
.coluna .anuncio .imagem{
	position: relative;
	background-color:#CD0000;
	width: 240px;
	height:160px;
	margin: 0 auto;
	margin-top:3px;
}
.coluna .anuncio .data{
	position: relative;
	width: 240px;
	color:#BEBEBE;
	margin: 0 auto;
	margin-top: 10px;
}
.coluna .anuncio .titulo{
	position: relative;
	width: 240px;
	color:#696969;
	margin: 0 auto;
	margin-top: 10px;
	font-size:larger;
}
.sideBar{
	position:relative;
	width:230px;
	height:800px;
	float:right;
	margin-top: 10px;
	background-color:#FFFFFF;
	margin-right:15px;
	box-shadow:5px 5px 20px #BEBEBE;
	-webkit-border-top-left-radius: 2px;
-moz-border-radius-topleft: 2px;
-o-border-top-left-radius: 2px;
border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topright: 2px;
-o-border-top-right-radius: 2px;
border-top-right-radius: 2px;
-webkit-border-bottom-left-radius: 2px;
-moz-border-radius-bottomleft: 2px;
-o-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-radius-bottomright: 2px;
-o-border-bottom-right-radius: 2px;
border-bottom-right-radius: 2px;
}
.sideBar a{
	text-decoration: none;
	color:#696969;
}
.sideBar a:hover{
	color:#CD0000;
}
.sideBar a:link{
	text-decoration:none;
}
.sideBar a:visited{
	text-decoration:none;
}
.sideBar .ultimos_posts{
	font-family: "arial","verdana","sans-serif";
	font-size: 20px;
	color:#696969;
	margin-left: 8px;
	font-weight:bolder;
}
#sideBar_titulo{
	position:relative;
	width:200px;
	text-align:center;
	color:#333333;
	text-shadow:5px 5px 5px #333333;
	
}
#sideBar_titulo fieldset{
	border-top: 4px solid #F1B349;
border-bottom: none;
border-left: none;
border-right: none;
display: block;
text-align: center;
}
footer{
	position:relative;
	background-color:#333333;
	width:100%;
	height:200px;
	border: 1px solid;
	clear:right;
}
footer .rodape{
	position:relative;
	margin-left:100px;
}
footer .rodape_colunas{
	position:relative;
	display:inline-block;
	width: 30%;
	height:195px;
	margin-top:2px;
	border: 1px solid #FFFFE0;
}
