

#processoImagem{
	margin: 0 auto;
	width:100px;
	height:150px;
}

#conteinerMensagem{
	margin: 0 auto;
	text-align:center;
	width:300px;
	height:auto;
	margin-top:100px;
	border: 1px solid;
	background-color:#C0C0C0;
	font-size:x-large;
	
}

