
.conteiner-busca-nibble{
	width:260px;
	border: 2px solid #EEE;
	height:auto;
	background-color:white;
	border-radius:10px 10px 10px 10px;
	-webkit-box-shadow: 18px 3px 56px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 3px 56px -17px rgba(0,0,0,0.75);
box-shadow: 18px 3px 56px -17px rgba(0,0,0,0.75);
}

.busca-nibble input{
	padding-top:10px;
	font-size:18px;
	width:200px;
	height: 30px;
	border:0px;
	
}

