body {
	opacity:1.0;
	background-color:white;

}
#principal{
	
	width:1000px;
	height:800px;
	margin:0 auto;
	text-align:center;
}
#formulario-nibble{
	margin: 0 auto;
	
	background-color:#FFFFFF;
	margin-top:30%;
	width:500px;
	-webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
border-radius:3px 3px 3px 3px;
}
#formulario-nibble input{
	height:30px;
	width:300px;
	
}
#formulario-nibble #botao-nibble-fechar{
	text-align:right;
	
}
#formulario-nibble #botao-nibble-fechar #botao_fechar:hover{
	cursor:pointer;
	color:blue;
}

#botao{
	z-index: 2000;
}
.material-icons{
	font-size:35px;
}
