#principal{
	height:auto;
	width:1000px;
	
	margin:0 auto;
}

#nibble_lista ul{
	list-style:none;
}
#nibble_lista ul img{
	max-width:200px;
	max-height:300px;
}
#nibble_lista ul .conteudo{
	  position:relative;
	  width:200px;
	  height:80px;
	  overflow:hidden;
}
#nibble_lista ul .titulo{
	font-family:"Roboto",sans-serif;
	 font-size:18px;
	 width:200px;
	 height:auto;
	 font-weight:bolder;
}
#nibble_lista ul .link_continuar{
	width:200px;
	text-align:right;
}
#nibble_lista ul .listas{
	border: solid 1px #CECECE;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
	display:inline-block;
	margin-left: 30px;
	margin-top:30px;
	padding: 10px 20px 10px 20px;
	-webkit-box-shadow: 10px 6px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 6px 23px 0px rgba(0,0,0,0.75);
box-shadow: 10px 6px 23px 0px rgba(0,0,0,0.75);
}
#nibble_lista .tempo{
	width:200px;
	font-size:12px;
}
#nibble_lista .tempo img{
	max-height:15px;
	max-width:15px;
}
#nibble_lista .tempo .img2{
	margin-left:50px;
}
#nibble_lista .tempo .tempo_valores{
	margin-left:5px;
}


